.header-th {
  color: gray;
  font-weight: bold;
  font-size: 14px;
  background-color: white;
  border-bottom: 1px solid #dee2e6;
}

::ng-deep .p-datatable table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

td {
  border-bottom: 1px solid #f0f2f4;
}

.card {
  border: none;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.button-group button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  margin-right: 5px;
  cursor: pointer;
}

.button-group button.active {
  background-color: #73b7ad !important;
  color: white;
}

/* Estilos de HU06*/

.usuario {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.foto-perfil {
  font-size: 42px;
  border-radius: 50%;
  margin-right: 15px;
}

.datos-usuario p {
  margin: 2px 0;
  font-size: 14px;
  line-height: 1;
}

.datos-usuario p:first-child {
  font-weight: bold;
}

.detalles-seguimiento {
  font-size: 14px;
}

.detalles-seguimiento p {
  margin: 5px 0;
}

.observacion {
  padding: 10px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 13px;
  margin-bottom: 10px;
}

.anexo-link {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}

.anexo-link:hover {
  text-decoration: underline;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner p {
  font-size: 16px;
  font-weight: bold;
}

