
<div class="row">
  <div class="col-12 d-flex justify-content-between align-items-center">
    <h3>Mi semana</h3>
    <app-boton-notificacion></app-boton-notificacion>
  </div>

</div>
<br>


<p-card >
  <full-calendar #calendar [options]="calendarOptions" [events]="events" ></full-calendar>
</p-card>

<p-dialog [header]="headerDialog" [(visible)]="displayModal" [modal]="true">
  <div [innerHtml] = "bodyDialog" style="text-align:center"></div>
  <p-footer>
    <button type="button" pButton class="color-fondo" (click) = "iniciarSeguimiento()">Iniciar Seguimiento</button>
    &nbsp;
    <button type="button" pButton  class="color-fondo" (click) = "reasignar()">Reasignar Seguimiento</button>
  </p-footer>
</p-dialog>


<p-dialog header="Reasignar Seguimiento" [(visible)]="displayModal2" [modal]="true">
  <div [innerHtml] = "bodyDialog2" style="text-align:center"></div>

  <form [formGroup]="form" (ngSubmit)="guardar()">
    <!-- Agente de Seguimiento -->
    <label for="agenteSeleccionado"><b>Agente de Seguimiento</b></label>
    <br>
    <p-dropdown
        [options]="agentes"
        formControlName="agenteSeleccionado"
        id="agenteSeleccionado"
        optionLabel="fullName"
        placeholder="Seleccione un agente">
    </p-dropdown>
    <div *ngIf="form.controls['agenteSeleccionado'].invalid && form.controls['agenteSeleccionado'].touched" class="error-message">
        <small style="color: red;">Debe seleccionar un agente</small>
    </div>
    <br>

    <!-- Motivo -->
    <label for="motivo"><b>Motivo</b></label>
    <br>
    <textarea
      rows="5"
      cols="30"
      pInputTextarea
      id="motivo"
      formControlName="motivo"
      id="motivo">
    </textarea>
    <div *ngIf="form.controls['motivo'].invalid && form.controls['motivo'].touched" class="error-message">
        <small style="color: red;">Este ingresar un motivo</small>
    </div>
    <div *ngIf="form.controls['motivo'].value?.length > 500" class="error-message">
      <small style="color: red;">Máximo 500 caracteres permitidos</small>
  </div>
    <br>

    <!-- Botones -->
    <div class="row">
      <div class="col-sm-6">
        <button type="button" pButton class="color-fondo_gris" (click)="cerrarDialog()">Cancelar</button>
      </div>
      <div class="col-sm-6">
        <button type="submit" pButton class="color-fondo">Guardar</button>
      </div>
    </div>
</form>



</p-dialog>

<p-dialog  [(visible)]="displayModal3" [modal]="true">
  <div style="text-align:center">
    <img src="/iconos/ok.png" alt="icono ok"/>
    <br><br><b>Seguimiento reasignado con éxito</b>
  </div>
</p-dialog>




