<body class="formato-fondo fuente-letra">
    <div class="header-container">
        <h1>EAPB</h1>
        <div class="top-right-buttons">
            <button type="button" class="btn-general btn-crear" (click)="onCreate()">Crear</button>
            <app-boton-notificacion></app-boton-notificacion>
        </div>
    </div>

    <app-modal-crear [item]="selectedItem" [isEditing]="isEditing" (nuevoEAPB)="agregarNuevaEAPB($event)"></app-modal-crear>

    <p-card>
        <div>
            <div class="row">
                <div class="col-6">
                    <label for="eapb" class="form-label">EAPB</label>
                    <select class="form-select" aria-label="eapb" [(ngModel)]="filtroEAPB" (change)="onFiltroEAPBChange()"
                        [value]="filtroEAPB" id="eapb" name="eapb">
                        <option value="">Todas las EAPB</option>
                        <option *ngFor="let eapb of listaEAPB" [value]="eapb.codigo" style="width: 100%; white-space: nowrap; overflow-x: hidden;">
                            {{ eapb.nombre }}
                        </option>
                    </select>
                </div>
                <div class="col-6">
                    <label for="buscar" class="form-label">&nbsp; <span
                            class="pi pi-search"></span></label>
                    <input type="text" class="form-control" id="buscar" name="buscar" (change)="onFiltroBuscarChange()"
                        placeholder="Buscar" [value]="filtroBuscar" [(ngModel)]="filtroBuscar">
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex mt-3">
                    <button class="btn-principal ms-auto p-2" (click)="limpiar()">
                        <i class="pi pi-trash"></i>
                        <span>Limpiar filtros</span>
                    </button>
                </div>
            </div>
        </div>

        <br>

        <div>
            <p-table [value]="data" [first]="first"
                [tableStyle]="{ 'min-width': '50rem' }" (onPage)="pageChange($event)"
                [paginator]="true" [rows]="5"
                [rowsPerPageOptions]="[5, 10, 25, 50]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords}"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th>EAPB</th>
                        <th>Nombres y apellidos</th>
                        <th>Cargo</th>
                        <th>Numero de contacto</th>
                        <th>Correo electronico</th>
                        <th>Estado</th>
                        <th>Editar</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                    <tr>
                        <td>{{ buscarNombreEntidadPorId(data.entidadId) }}</td>
                        <td>{{ data.nombres }}</td>
                        <td>{{ data.cargo }}</td>
                        <td>{{ data.telefonos }}</td>
                        <td>{{ data.email }}</td>
                        <td>{{ data.estado }}</td>
                        <td class="table-actions">
                            <button class="btn-round" (click)="onEdit(data)">
                                <i class="pi pi-pencil"></i>
                            </button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-card>
</body>