<div class="govco-footer">
    <div class="secani-footer color-fondo fuente-letra">
        <div class="left">
            <p>Dirección de enfermedades no transmisibles del Ministerio de Salud y Protección Social</p>
        </div>
        <div class="right"></div>
    </div>
    <div class="govco-footer">
        <div class="govco-data-front">
            <div class="govco-footer-text">
                <div class="row govco-nombre-entidad">
                    <div class="col-xs-12 col-lg-6">
                        <p class="govco-text-header-1">Ministerio de Salud y Protección Social</p>
                    </div>
                    <div class="col-xs-12 col-lg-4 govco-logo-div-a">
                        <span class="govco-logo-entidad"></span>
                    </div>
                </div>

                <div class="row col-xs-12 col-lg-8 govco-texto-sedes">
                    <p class="govco-text-header-2">Sede principal</p>
                    <p>Dirección: Carrera 13 No. 32-76. Bogotá, Colombia. Código postal 110311</p>
                    <p>Telefono Conmutador: 601 330 5000 - Línea Gratuita fuera de Bogotá: 018000960020</p>
                    <p>Mesa de Ayuda: 601 330 5043 - Atención de lunes a viernes - 7:00 a.m. a 6:00 p.m. Sábados de 8:00 a.m. a 1:00 p.m.</p>
                    <p>Línea de atención de emergencias y desastres: 601 330 5071 | 24 horas</p>
                    <!--<p>Línea WhatsApp Emergencias: <a href="https://wa.me/573502705606">350 270 5606</a></p>-->
                </div>
                <div class="govco-listado-sedes">
                    <p class="govco-text-header-2">Punto de atención presencial</p>
                    <p>Carrera 13 No. 32-76 piso 1, Bogotá, Código postal 110311</p>
                    <p>Lunes - viernes de 8:00 a.m. a 4:00 p.m. jornada continua</p>
                </div>
                <div class="govco-listado-sedes">
                    <p class="govco-text-header-2">Canales electrónicos</p>
                    <p>Correo Institucional: <a href="mailto:correo@minsalud.gov.co">correo&#64;minsalud.gov.co</a></p>
                    <p>Correo de Notificaciones Judiciales: <a href="mailto:notificacionesjudiciales@minsalud.gov.co">notificacionesjudiciales&#64;minsalud.gov.co</a></p> 
                    <p>Denuncias por actos de corrupción: <a href="mailto:soytransparente@minsalud.gov.co">soytransparente&#64;minsalud.gov.co</a></p>
                    <p>Chat Generalidades Sistema de Salud: <a href="https://minsaludbpm.ucontactcloud.com/WebChat/chatminsalud/">Ingrese al chat</a></p>                   
                </div>

                <div class="row col-xs-12 col-lg-12 govco-network">
                    <div class="govco-iconContainer">
                        <a href="https://www.facebook.com/MinSaludCol" target="_blank">
                            <span class="icon govco-facebook-square"></span>
                            <span class="govco-link-modal">/MinSaludCol</span>
                        </a>
                    </div>
                    <div class="govco-iconContainer">
                        <a href="https://www.youtube.com/user/MinSaludColPrensa" target="_blank">
                            <span class="icon govco-youtube-square"></span>
                            <span class="govco-link-modal">/MinSaludColPrensa</span>
                        </a>
                    </div>
                    <div class="govco-iconContainer">
                        <a href="https://twitter.com/MinSaludCol" target="_blank">
                            <span class="icon govco-x-square"></span>
                            <span class="govco-link-modal">&#64;MinSaludCol</span>
                        </a>
                    </div>
                    <div class="govco-iconContainer">
                        <a href="https://instagram.com/minsaludcol/" target="_blank">
                            <span class="icon govco-instagram-square"></span>
                            <span class="govco-link-modal">&#64;minsaludcol</span>
                        </a>
                    </div>
                    <div class="govco-iconContainer">
                        <a href="https://www.tiktok.com/@minsaludcol" target="_blank">
                            <span class="icon govco-tiktok-square"></span>
                            <span class="govco-link-modal">&#64;minsaludcol</span>
                        </a>
                    </div>
                      <div class="govco-iconContainer">
                        <a href="https://whatsapp.com/channel/0029Vae0midLo4hhHS7uJI3N" target="_blank">
                            <span class="icon govco-whatsapp-square"></span>
                            <span class="govco-link-modal">Canal de WhatsApp</span>
                        </a>
                    </div>
    
    
                    
                    
                </div>

                <div class="row govco-links-container">
                    <div class="govco-link-container mt-2">
                        <a class="govco-link-modal govco-link-modal-bold" href="#">Políticas</a>
                        <a class="govco-link-modal govco-link-modal-bold" href="#">Mapa del sitio</a>
                    </div>
                    <div class="govco-link-container mt-2">
                        <a class="govco-link-modal govco-link-modal-bold" href="#">Términos y condiciones</a> <br>
                    </div>
                    <div class="govco-link-container mt-2">
                        <a class="govco-link-modal govco-link-modal-bold" href="#">Accesibilidad</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="govco-footer-logo">
            <div class="govco-logo-container">
                <span class="govco-co"></span>
                <span class="govco-separator"></span>
                <span class="govco-logo"></span>
            </div>
        </div>
    </div>
</div>