<p-toast  [life]="10000" />
<p-dialog header="Enviar Respuesta" [(visible)]="show" [modal]="true" [style]="{width: '700px'}" (onHide)="close()">
    <div *ngIf="isLoading" class="spinner">
      <p class="{{colorMensaje}}">{{mensajeCarga}}</p>
    </div>
    <div class="px-3" *ngIf="!isLoading">
        <div class="row mb-5">
            <div class="col-12">
                <div class="datos-usuario text-center">
                  <p><strong>{{nombreNNA}}</strong></p>
                  <p><strong>{{documentoNNA}}</strong></p>
                  <p>{{alerta}}</p>
                </div>
            </div>
        </div>
        <div class="row align-items-center mb-2 p-fluid">
            <div class="col-3">
                <label for="para" class="fw-bold">Para</label>
            </div>
            <div class="col-9 flex-auto">
                <input type="text" placeholder="Para" pInputText [(ngModel)]="respuesta.para" disabled="true">
                <div *ngIf="submitted && (!respuesta.para || respuesta.para.length === 0)" class="text-danger">
                    Campo requerido
                </div>
            </div>
        </div>
        <div class="row align-items-center mb-2 p-fluid">
            <div class="col-3">
                <label for="para" class="fw-bold">Con copia</label>
            </div>
            <div class="col-9 flex-auto">
                <p-multiSelect 
                    [options]="contactos" 
                    [(ngModel)]="selectedContactos" 
                    optionLabel="email" 
                    placeholder="Seleccione contactos" 
                    display="chip"
                    styleClass="w-full md:w-80" />
            </div>
        </div>
        <div class="row align-items-center mb-2 p-fluid">
            <div class="col-3">
                <label for="Asunto" class="fw-bold">Asunto</label>
            </div>
            <div class="col-9 flex-auto">
                <input type="text" placeholder="Asunto" pInputText [(ngModel)]="respuesta.asunto">
                <div *ngIf="submitted && (!respuesta.asunto || respuesta.asunto.trim() === '')" class="text-danger">
                    Campo requerido
                </div>
            </div>
        </div>
        <div class="row mb-2 p-fluid">
            <div class="col-3">
                <label for="Mensaje" class="fw-bold">Mensaje</label>
            </div>
            <div class="col-9 flex-auto">
                <p-editor [(ngModel)]="respuesta.mensaje" [style]="{ height: '80px' }"></p-editor>
                <div *ngIf="submitted && (!respuesta.mensaje || respuesta.mensaje.trim() === '')" class="text-danger">
                    Campo requerido
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-3 col-md-3 fw-bold">
                <label for="Adjuntar" class="fw-bold">Adjuntar</label>
            </div>
            <div class="col-2 col-ms-1 col-md-1">
                <label class="file-upload-icon">
                    <i class="bi bi-paperclip" style="font-size: 24px;" (click)="openFileDialog($event)"></i>
                </label>
                <input id="archivo" type="file" (change)="onFileChange($event)" #fileInput style="display: none;" accept=".pdf, .doc, .docx, .xls, .xlsx, .jpg, .jpeg" />
            </div>
            <div class="col-7 col-md-7">
                <label class="fw-bold" style="word-break: break-all;">{{ fileName }}</label>
            </div>
        </div>
        <div class="row mb-2 ">
            <div class="col-9 col-md-9 offset-3">
                <small class="form-text" style="color: #61b9ab;">Solo puede cargar un archivo, asegúrese de incluir toda la información</small><br>
                <small class="text-danger" *ngIf="fileError" >{{ fileError }}</small>
            </div>
        </div>
        <div class="row mb-3 p-fluid">
            <div class="col-3">
                <label for="Firma" class="fw-bold">Firma</label>
            </div>
            <div class="col-9 flex-auto">
                <p-editor [(ngModel)]="respuesta.firma" [style]="{ height: '80px' }" />
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <button class="btn text-white rounded-4 btn-lg" type="button" style="background-color: #ff9801; width: 250px;" (click)="enviar()" >GUARDAR Y ENVIAR</button>
            </div>
        </div>
    </div>
</p-dialog>

<p-dialog 
  [(visible)]="mostrarDialogo"
  modal="true" 
  dismissableMask="true" 
  [style]="{ width: '30vw' }" 
  [closable]="true"
  (onHide)="close()"
  [contentStyle]="{ 'text-align': 'center' }">
  
  <div>
    <i class="pi pi-check-circle mb-3" style="font-size: 4rem; color: #4CAF50;"></i>
    <h3>Respuesta enviada con éxito</h3>
  </div>
</p-dialog>

