<header>
  <nav class="navbar navbar-expand-lg barra-superior-govco" aria-label="Barra superior">
      <a href="https://www.gov.co/" target="_blank" aria-label="Portal del Estado Colombiano - GOV.CO"></a>
      <button class="idioma-icon-barra-superior-govco float-right" aria-label="Button to change the language of the page to English"></button>
  </nav>

  <nav class="navbar navbar-expand-lg barra-superior-secani" aria-label="Barra superior">
      <div class="left"></div>
      <div class="center"></div>
      <div class="right">
        <div class="right-logo"></div>
        <button class="btn btn-secondary" type="button" (click)="toggleMenu()">
          <i class="pi pi-bars"></i>
        </button>
      </div>
  </nav>
</header>

