
.user-icon {
  font-size: 48px;
  color: #708090;
  border: 3px solid #708090;
  border-radius: 50%;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .p-datatable-thead th {
  color: gray;
  font-weight: bold;
  font-size: 14px;
  background-color: white;
}

td {
  border-bottom: 1px solid #f0f2f4;
}

.card {
  border: none;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.button-group button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  margin-right: 5px;
  cursor: pointer;
}

.button-group button.active {
  background-color: #73b7ad !important;
  color: white;
}

.correo-column {
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  max-width: 100px;
  overflow-wrap: break-word;
}

.descripcion-column {
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  max-width: 200px;
  overflow-wrap: break-word;
}


.toggle-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #e0e0e0; /* Color de fondo para el estado no seleccionado */
  color: #333; /* Color de texto para el estado no seleccionado */
  width: 60px; /* Ajuste del ancho para los botones */
  text-align: center;
}

.toggle-btn.active {
  background-color: #73b7ad; /* Color de fondo para el estado seleccionado */
  color: white; /* Color de texto para el estado seleccionado */
}

.recaidas-input {
  width: 50px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ccc;
}


.btn-guardar-nna {
  background-color: #FF9801;
  color: white;
  cursor: pointer;
  margin: 10px;
  padding: 12px 30px; /* Incrementa el tamaño del botón */
  font-size: 1.2rem; /* Aumenta el tamaño del texto */
  border-radius: 8px; /* Opcional: Redondea los bordes */
  border: none; /* Elimina cualquier borde predeterminado */
  transition: all 0.3s ease; /* Añade una transición suave para efectos hover */
}

.btn-guardar-nna:hover {
  background-color: #ff9901c3;
  color: white;
  transform: scale(1.05); /* Efecto hover para agrandar un poco */
}

/* Estilos para el botón redondo */
.boton-redondo {
  width: 3rem; /* Ancho del botón */
  height: 3rem; /* Alto del botón */
  border: none; /* Sin borde */
  border-radius: 50%; /* Hace el botón redondo */
  background-color: #73b7ad; /* Color de fondo */
  color: #ffffff; /* Color del ícono */
  font-size: 1.5rem; /* Tamaño del ícono */
  display: flex; /* Centrar el ícono dentro del botón */
  justify-content: center;
  align-items: center;
  cursor: pointer; /* Cambia el cursor a "mano" */
  transition: background-color 0.3s ease; /* Efecto de hover */
}

/* Efecto al pasar el cursor por el botón */
.boton-redondo:hover {
  background-color: #5b8f79; /* Color al pasar el cursor */
}

/* Contenedor principal */
.contenedor {
  display: flex;
  justify-content: flex-end; /* Alinea el botón a la derecha */
  padding: 1rem; /* Espaciado interno opcional */
}

/* Botón */
.boton-derecha {
  background-color: #73b7ad; /* Color de fondo del botón */
  color: #ffffff; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 0.5rem; /* Bordes redondeados */
  padding: 0.5rem 1rem; /* Espaciado interno */
  font-size: 1rem; /* Tamaño del texto */
  display: flex; /* Flexbox para alinear ícono y texto */
  align-items: center; /* Centra verticalmente ícono y texto */
  gap: 0.5rem; /* Espaciado entre ícono y texto */
  cursor: pointer; /* Cambia el cursor a "mano" */
  transition: background-color 0.3s ease; /* Efecto suave al pasar el cursor */
}

/* Efecto hover para el botón */
.boton-derecha:hover {
  background-color: #5b8f79; /* Color más oscuro al pasar el cursor */
}

select.form-select {
  border-radius: 8px; /* Ajusta el valor según lo que necesites */
  padding: 10px; /* Aumenta el espacio interno para un aspecto más limpio */
  font-size: 14px; /* Ajusta el tamaño del texto */
}

.form-select option {
  border-radius: 8px; /* Aplica esquinas redondeadas a las opciones */
  background-color: #ffffff; /* Fondo blanco */
  color: #495057; /* Texto oscuro */
  padding: 8px; /* Espaciado interno */
}

