<p-dialog header="Notificación" [(visible)]="showDialog" [modal]="true" [style]="{width: '700px'}">
    <div *ngIf="isLoading" class="spinner">
      <p class="{{colorMensaje}}">{{mensajeCarga}}</p>
    </div>
    <div class="px-3" *ngIf="!isLoading">
        <div class="row align-items-center mb-2 p-fluid">
            <div class="col-3">
                <label for="entidades" class="fw-bold">Entidad</label>
            </div>
            <div class="col-9 flex-auto">
                <p-dropdown
                    [(ngModel)]="selectedEntidad"
                    [options]="entidades"
                    [loading]="isLoadingEntidades"
                    optionLabel="nombre"
                    [filter]="true"
                    filterBy="nombre"
                    [showClear]="true"
                    placeholder="Seleccione" />
                <div *ngIf="submitted && (!notificacion.idEntidad || notificacion.idEntidad === '')" class="text-danger">
                    Campo requerido
                </div>
            </div>
        </div>
        <div class="row align-items-center mb-2 p-fluid">
            <div class="col-3">
                <label for="para" class="fw-bold">Para</label>
            </div>
            <div class="col-9 flex-auto">
                <p-chips [(ngModel)]="notificacion.para" (onAdd)="validarEmail($event)" />
            </div>
        </div>
        <div class="row align-items-center mb-2 p-fluid">
            <div class="col-3">
                <label for="para" class="fw-bold">Con copia</label>
            </div>
            <div class="col-9 flex-auto">
                <p-chips [(ngModel)]="notificacion.conCopia" (onAdd)="validarEmail($event)" />
            </div>
        </div>
        <div class="row align-items-center mb-2 p-fluid">
            <div class="col-3">
                <label for="entidades" class="fw-bold">Plantilla</label>
            </div>
            <div class="col-9 flex-auto">
                <p-dropdown
                    [(ngModel)]="selectedPlantilla"
                    [options]="plantillas"
                    [loading]="isLoadingPLantillas"
                    (onChange)="cargarPlantilla($event)" 
                    optionLabel="nombre"
                    [filter]="true"
                    filterBy="nombre"
                    [showClear]="true"
                    placeholder="Seleccione" />
            </div>
        </div>
        <div class="row align-items-center mb-2 p-fluid">
            <div class="col-3">
                <label for="Asunto" class="fw-bold">Asunto</label>
            </div>
            <div class="col-9 flex-auto">
                <input type="text" placeholder="Asunto" pInputText [(ngModel)]="notificacion.asunto">
            </div>
        </div>
        <div class="row mb-2 p-fluid">
            <div class="col-3">
                <label for="Mensaje" class="fw-bold">Mensaje</label>
            </div>
            <div class="col-9 flex-auto">
                <textarea pInputText rows="2" [(ngModel)]="notificacion.mensaje"></textarea>
            </div>
        </div>
        <div class="row mb-2 p-fluid">
            <div class="col-9 offset-3 flex-auto">
                <p-checkbox 
                    [(ngModel)]="notificacion.agregarComentario"
                    [binary]="true"
                    label="Desea agregar comentario"
                    name="agregarComentario" />
            </div>
        </div>
        <div class="row mb-2 p-fluid" *ngIf="notificacion.agregarComentario">
            <div class="col-3">
                <label for="Comentario" class="fw-bold">Comentario</label>
            </div>
            <div class="col-9 flex-auto">
                <p-editor [(ngModel)]="notificacion.comentario" [style]="{ height: '80px' }" />
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-3 col-md-3 fw-bold">
                <label for="Adjuntar" class="fw-bold">Adjuntar</label>
            </div>
            <div class="col-2 col-ms-1 col-md-1">
                <label class="file-upload-icon">
                    <i class="bi bi-paperclip" style="font-size: 24px;" (click)="openFileDialog($event)"></i>
                </label>
                <input id="archivo" type="file" (change)="onFileChange($event)" #fileInput style="display: none;" accept=".pdf, .doc, .docx, .xls, .xlsx, .jpg, .jpeg" />
            </div>
            <div class="col-7 col-md-8">
                <label class="fw-bold" style="word-break: break-all;">{{ fileName }}</label>
            </div>
        </div>
        <div class="row mb-2 ">
            <div class="col-8 col-md-8 offset-4">
                <small class="text-danger" *ngIf="fileError" >{{ fileError }}</small>
            </div>
        </div>
        <div class="row mb-3 p-fluid">
            <div class="col-3">
                <label for="Firma" class="fw-bold">Firma</label>
            </div>
            <div class="col-9 flex-auto">
                <textarea pInputText rows="2" [(ngModel)]="notificacion.firma"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <button class="btn text-white rounded-4 btn-lg" type="button" style="background-color: #ff9801; width: 200px;" (click)="enviar()" >ENVIAR</button>
            </div>
        </div>
    </div>
</p-dialog>

<p-dialog 
  [(visible)]="mostrarDialogo" (onHide)="limpiar()"
  modal="true" 
  dismissableMask="true" 
  [style]="{ width: '30vw' }" 
  [closable]="true"
  [contentStyle]="{ 'text-align': 'center' }">
  
  <div>
    <i class="pi pi-check-circle" style="font-size: 4rem; color: #4CAF50;"></i>
    <h3>Notificación enviada con éxito</h3>
  </div>
</p-dialog>

