::ng-deep .pi.pi-eye {
    font-size: 1.5em; /* Ajusta este valor según el tamaño que desees */
  }

::ng-deep .p-card-content {
    padding-top: 0px;
    padding-bottom: 0px;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner p {
  font-size: 16px;
  font-weight: bold;
}

.custom-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}