<p-dialog header="Notificación" [(visible)]="show" [modal]="true" [style]="{width: '600px'}" (onHide)="close()">
    <div class="container p-4">
        <div class="card-body" *ngIf="alerta.id > 0; else noAlerta">
            <div class="row mb-3">
                <div class="col-3"><strong>Fecha de notificación</strong></div>
                <div class="col-9"><span>{{alerta.dateCreated | date:'dd/MM/yyyy'}}</span></div>
            </div>
            <div class="row mb-3">
                <div class="col-3"><strong>De</strong></div>
                <div class="col-9"><span>{{alerta.de}}</span></div>
            </div>
            <div class="row mb-3">
                <div class="col-3"><strong>Para</strong></div>
                <div class="col-9"><span>{{alerta.para}}</span></div>
            </div>
            <div class="row mb-3">
                <div class="col-3"><strong>Con copia</strong></div>
                <div class="col-9"><span>{{alerta.conCopia}}</span></div>
            </div>
            <div class="row mb-3">
                <div class="col-3"><strong>Asunto</strong></div>
                <div class="col-9">
                    <p class="m-0">{{alerta.asunto}}</p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3"><strong>Mensaje</strong></div>
                <div class="col-9">
                    <p class="m-0">{{alerta.mensaje}}</p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3"><strong>Firma</strong></div>
                <div class="col-9">
                    <p class="m-0">{{alerta.firma}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-3"><strong>Adjuntos</strong></div>
                <div class="col-9">
                    <a href="#">Oficio de notificacion de alerta</a>
                </div>
            </div>
            <div class="text-right mt-3">
                <button class="btn btn-secondary" (click)="close()">Cerrar</button>
            </div>
        </div>
        <ng-template #noAlerta>
            <div class="row mb-3">
                <div class="col-3"><strong>Fecha de notificación</strong></div>
                <div class="col-9"><span>01/01/2023</span></div>
            </div>
            <div class="row mb-3">
                <div class="col-3"><strong>De</strong></div>
                <div class="col-9"><span>Ejemplo Remitente</span></div>
            </div>
            <div class="row mb-3">
                <div class="col-3"><strong>Para</strong></div>
                <div class="col-9"><span>Ejemplo Destinatario</span></div>
            </div>
            <div class="row mb-3">
                <div class="col-3"><strong>Con copia</strong></div>
                <div class="col-9"><span>Ejemplo CC</span></div>
            </div>
            <div class="row mb-3">
                <div class="col-3"><strong>Asunto</strong></div>
                <div class="col-9">
                    <p class="m-0">Ejemplo Asunto</p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3"><strong>Mensaje</strong></div>
                <div class="col-9">
                    <p class="m-0">Ejemplo Mensaje</p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3"><strong>Firma</strong></div>
                <div class="col-9">
                    <p class="m-0">Ejemplo Firma</p>
                </div>
            </div>
            <div class="row">
                <div class="col-3"><strong>Adjuntos</strong></div>
                <div class="col-9">
                    <a href="#">Ejemplo de adjunto</a>
                </div>
            </div>
            <div class="text-right mt-3">
                <button class="btn btn-secondary" (click)="close()">Cerrar</button>
            </div>
        </ng-template>
    </div>
</p-dialog>
