<div class="container-fluid">
  <h1 class="mt-5 mb-4">Reporte dinámico NNA</h1>

  <div class="card">
    <div class="card-body">
      <form [formGroup]="camposForm" (ngSubmit)="onSubmit()">
        <div class="row align-items-center mb-3">
          <div class="col-12 col-sm-2 mb-2 mb-sm-0 fw-semibold">Fecha Inicio:</div>
          <div class="col-12 col-sm-4 mb-2 mb-sm-0">
            <p-calendar formControlName="fechaInicio" styleClass="w-100" [showIcon]="true" [iconDisplay]="'input'"   />
            <div class="text-danger mt-1" 
              *ngIf="camposForm.controls['fechaInicio'].invalid && camposForm.controls['fechaInicio'].touched">
              La fecha incio es requerida
            </div>
            <div class="text-danger mt-1" *ngIf="camposForm.errors?.['fechasInvalidas'] && camposForm.touched">
              La fecha inicial no puede ser mayor a la fecha final
            </div>
          </div>

          <div class="col-12 col-sm-2 mb-2 mb-sm-0 fw-semibold">Fecha Fin:</div>
          <div class="col-12 col-sm-4 mb-2 mb-sm-0">
            <p-calendar formControlName="fechaFin" styleClass="w-100" [showIcon]="true" [iconDisplay]="'input'"  />
            <div class="text-danger mt-1" 
              *ngIf="camposForm.controls['fechaFin'].invalid && camposForm.controls['fechaFin'].touched">
              La fecha fin es requerida
            </div>
            <div class="text-danger mt-1" *ngIf="camposForm.errors?.['fechaFutura'] && camposForm.touched">
              La fecha fin no puede ser mayor a la fecha actual
            </div>
          </div>
        </div>

        <div class="row align-items-center mb-3">
          <div class="col-12 mb-4 col-sm-10 mb-sm-0">
            <p-inputGroup>
              <input class="w-100" type="text" placeholder="Buscar..." pInputText
                (input)="tabla.filterGlobal($any($event.target).value, 'contains')"
              />
              <p-inputGroupAddon>
                  <i class="pi pi-search"></i>
              </p-inputGroupAddon>
            </p-inputGroup>
          </div>
          <div class="col-12 mb-3 col-sm-2 mb-sm-0">
            <p-button severity="success" label="Agregar campos" styleClass="w-100"/>
          </div>
        </div>

        <div class="row mb-3">
          @for (columna of columnasOpcionales; track columna) {
            <div class="col-md-3">
              <p-checkbox
                styleClass="mt-1"
                name="columnas"
                [label]="columna.header"
                [value]="columna.field"
                (onChange)="onCheckboxChange($event, columna)"
              />
            </div>
          }
        </div>
        <div class="d-flex justify-content-end mb-3">
          <div class="col-12 col-sm-2 d-flex justify-content-end">
            <p-button type="submit" severity="success" label="Generar" styleClass="w-100" />
          </div>
        </div>
      </form>

      <div class="mt-3">
        <p-table
          #tabla
          [columns]="columnas"
          [value]="reportes"
          [tableStyle]="{ 'min-width': '50rem' }"
          [paginator]="true"
          [rows]="5"
          [globalFilterFields]="columnasFiltroGlobal"
          [rowsPerPageOptions]="[5, 10, 25, 50]"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords}"
        >
          <ng-template pTemplate="caption">
            <div class="d-flex align-items-center justify-content-between">
              Reporte dinámico NNA
              <p-button severity="success" icon="pi pi-file-excel" (onClick)="exportExcel()"/>
            </div>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              @for (col of columns; track col) {
                <th>
                  {{ col.header }}
                </th>
              }
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-reporte let-columns="columns">
            <tr>
              @for (col of columns; track col) {
                <td *ngIf="col.field === 'fechaNacimiento' || col.field === 'fechaNotificacionSIVIGILA' || col.field === 'fechaIngresoEstrategia'">
                  {{ reporte[col.field] | date: 'dd/MM/yyyy HH:mm' }}
                </td>
                <td *ngIf="col.field !== 'fechaNacimiento' && col.field !== 'fechaNotificacionSIVIGILA' && col.field !== 'fechaIngresoEstrategia'">
                  {{ reporte[col.field] }}
                </td>
              }
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="columnas.length" class="text-center">
                Reportes no encotrados.
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
