<div class="container-fluid">
  <h1 class="mt-5 mb-4">Reporte de Depuración</h1>

  <div class="card">
    <div class="card-body">
      <form [formGroup]="camposForm" (ngSubmit)="onSubmit()">
        <div class="row align-items-center mb-3">
          <div class="col-12 col-sm-2 mb-2 mb-sm-0 fw-semibold">Fecha Inicio:</div>
          <div class="col-12 col-sm-4 mb-2 mb-sm-0">
            <p-calendar formControlName="fechaInicio" styleClass="w-100" [showIcon]="true" [iconDisplay]="'input'"   />
            <div class="text-danger mt-1" 
              *ngIf="camposForm.controls['fechaInicio'].invalid && camposForm.controls['fechaInicio'].touched">
              La fecha incio es requerida
            </div>
            <div class="text-danger mt-1" *ngIf="camposForm.errors?.['fechasInvalidas'] && camposForm.touched">
              La fecha inicial no puede ser mayor a la fecha final
            </div>
          </div>

          <div class="col-12 col-sm-2 mb-2 mb-sm-0 fw-semibold">Fecha Fin:</div>
          <div class="col-12 col-sm-4 mb-2 mb-sm-0">
            <p-calendar formControlName="fechaFin" styleClass="w-100" [showIcon]="true" [iconDisplay]="'input'"  />
            <div class="text-danger mt-1" 
              *ngIf="camposForm.controls['fechaFin'].invalid && camposForm.controls['fechaFin'].touched">
              La fecha fin es requerida
            </div>
            <div class="text-danger mt-1" *ngIf="camposForm.errors?.['fechaFutura'] && camposForm.touched">
              La fecha fin no puede ser mayor a la fecha actual
            </div>
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col-12 mb-4 col-sm-10 mb-sm-0">
            <p-inputGroup>
              <input class="w-100" type="text" placeholder="Buscar..." pInputText
                (input)="tabla.filterGlobal($any($event.target).value, 'contains')"
              />
              <p-inputGroupAddon>
                  <i class="pi pi-search"></i>
              </p-inputGroupAddon>
            </p-inputGroup>
          </div>
          <div class="col-12 mb-3 col-sm-2 mb-sm-0">
            <p-button type="submit" severity="success" label="Generar" styleClass="w-100" />
          </div>
        </div>
      </form>

      <div class="mt-3">
        <p-table
          #tabla
          [value]="reportes"
          [tableStyle]="{ 'min-width': '50rem' }"
          [globalFilterFields]="['id', 'fecha', 'hora', 'registrosIngresados', 'registrosNuevos', 'registrosDuplicados', 'estado']"
          [paginator]="true" [rows]="5"
          [rowsPerPageOptions]="[5, 10, 25, 50]" [showCurrentPageReport]="true"
          currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords}"
        >
          <ng-template pTemplate="caption">
            <div class="d-flex align-items-center justify-content-between">
              <div class="text-center justify-content-between">
                Reporte de depuración SIVIGILA
              </div>
              <p-button (onClick)="exportExcel()" severity="success" icon="pi pi-file-excel" />
            </div>
        </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>Id</th>
              <th>Fecha</th>
              <th>Hora</th>
              <th>Registros ingresados</th>
              <th>Registros nuevos</th>
              <th>Registros duplicados</th>
              <th>Estado</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-reporte>
            <tr>
              <td>
                <a [routerLink]="['/reportes/depuracion_p115', reporte.id]">
                  {{ reporte.id }}
                </a>
              </td>
              <td>{{ reporte.fecha | date: 'dd/MM/YYYY' }}</td>
              <td>{{ reporte.hora }}</td>
              <td>{{ reporte.registrosIngresados }}</td>
              <td>{{ reporte.registrosNuevos }}</td>
              <td>{{ reporte.registrosDuplicados }}</td>
              <td>{{ reporte.estado }}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="7" class="text-center">
                Reportes no encontrados.
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
