.inferior{
  font-family: Montserrat;font-size: 14px;font-weight: 600;line-height: 17.07px;text-align: left;
}

.enfermedad{
  font-family: Montserrat;font-size: 14px;font-weight: 400;line-height: 17.07px;text-align: left;
  color: #91929E;
}
