.titulo{
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 700;
  line-height: 24.38px;
  text-align: left;
  color: #4D4D4D;
}

::ng-deep .header-th {
    color: gray;
    font-weight: normal;
    font-size: 14px;
    background-color: white;
}

::ng-deep .p-datatable table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

::ng-deep .p-datatable th, .p-datatable td {
  padding: 8px;
  text-align: left;
  vertical-align: middle;
  color: #333;
  background-color: #ffffff;
  border-bottom: 1px solid #dee2e6; /* Solo muestra la línea inferior */
}

::ng-deep .p-datatable-thead th {
  color: gray;
  font-weight: bold;
  font-size: 14px;
  background-color: white;
}

td {
  border-bottom: 1px solid #f0f2f4;
}

.card {
  border: none;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
