<br>
<app-spinner *ngIf="!cargado"></app-spinner>
<div class="container-fluid" *ngIf="cargado">

  <app-tarjeta-cabecera [usuario] = usuario></app-tarjeta-cabecera>



  <div class="card" style="text-align:center">

    <div class="row" >
      <div class="col-3" style="text-align:center; ">
        <app-tarjetaKPI [data] = "data_1"></app-tarjetaKPI>
      </div>
      <div class="col-3" style="text-align:center; ">
        <app-tarjetaKPI [data] = "data_2"></app-tarjetaKPI>
      </div>
      <div class="col-3" style="text-align:center; ">
        <app-tarjetaKPI [data] = "data_3"></app-tarjetaKPI>
      </div>
      <div class="col-3" style="text-align:center; ">
        <app-tarjetaKPI [data] = "data_4"></app-tarjetaKPI>
      </div>

    </div>


  </div>

  <br>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <form [formGroup]="formFechas">
      <div class="row">

        <div class="col-sm-12 col-md-5 ">
          <label for="fechaInicio">Fecha inicio</label>
          <br>
          <p-calendar
              inputId="icondisplay"
              formControlName = "fechaInicio"
              dateFormat="yy-mm-dd"
               [iconDisplay]="'input'"
               [showIcon]="true"
               />
        </div>
        <div class="col-sm-12 col-md-5">
          <label for="fechaFin">Fecha fin</label>
          <br>
          <p-calendar
              inputId="icondisplay"
              formControlName = "fechaFin"
              dateFormat="yy-mm-dd"
               [iconDisplay]="'input'"
               [showIcon]="true"
               />
        </div>
        <div class="col-sm-12 col-md-2">
          <br>
          <button type="button" (click)="consultar()"  class="btn text-color-blanco" style="background-color: rgb(255, 152, 1); color: white; border-radius: 8px; border-color: transparent;">
            <span>Aplicar</span>
          </button>

        </div>

      </div>
      </form>


      <br>
      <div class="card" style="padding:20px" >
        <div class="chart" >
          <h4>Seguimientos</h4>
          <p-chart type="doughnut" [data]="seguimientosData" [options]="seguimientosOptions" width="552" height="283"></p-chart>

        </div>

      </div>
      <br>

      <div class="card" style="padding:20px; cursor: pointer;" (click)="redireccion(2)">
        <div class="chart" >
          <h4>NNA</h4>
          <p-chart type="bar" [data]="nnaData" [options]="nnaOptions" height="800px" ></p-chart>


        </div>

      </div>

      <br>

      <div class="card" style="padding:20px; cursor: pointer;" (click)="redireccion(3)">
        <div class="chart">
          <h4>Alertas</h4>
          <p-chart type="pie" [data]="alertasData" [options]="alertasOptions" width="552" height="283"></p-chart>

        </div>
      </div>
      <br>

    </div>
    <div class="col-sm-12 col-md-6">
      <div class="card" style="padding:20px">
       <div class="critical-cases">
        <div class="d-flex justify-content-between align-items-center">
          <h4>CASOS CRÍTICOS</h4>
          <a  (click)="verTodosCasosCriticos()" style="cursor: pointer;">Ver todos ></a>
        </div>
          <div *ngFor="let caso of casosCriticos" class="caso-critico">
            <app-tarjeta-caso-critico [caso] = caso ></app-tarjeta-caso-critico>
          </div>
        </div>
      </div>

      <br>

      <div class="card" style="padding:20px; cursor: pointer;" (click)="redireccion(4)" >
        <div class="chart">
          <h4>Llamadas</h4>
          <p-chart type="bar" [data]="llamadasData" [options]="llamadasOptions" width="552" height="300px"></p-chart>

        </div>
      </div>

      <br>

      <div class="card" style="padding:20px" >
        <div class="chart">
          <h4>Mis Asignaciones</h4>
          <p-chart type="line" [data]="asignacionesData" [options]="asignacionesOptions" width="552" height="283"></p-chart>

        </div>
      </div>
    </div>
  </div>

  <br>
</div>
<br>
