<p-toast  [life]="10000" />

<p-dialog header="Contacto" [(visible)]="show" [modal]="true" [style]="{ width: '700px', height: '520px' }" [draggable]="false" [appendTo]="'body'" [baseZIndex]="10000"
    [resizable]="false" (onHide)="close()">
    <div class="row text-left">
        <div class="col-sm-12">
            <div class="row align-items-center">
                <div class="col-3 text-end">
                    <label>Nombres y apellidos</label>
                </div>
                <div class="col-9 p-fluid">
                    <input type="text" pInputText [(ngModel)]="contacto.nombres">
                </div>
                <div class="col-9 offset-3">
                    <div *ngIf="submitted && !contacto.nombres" class="text-danger">
                        Nombres y apellidos es requerido
                    </div>
                </div>
            </div>

            <div class="row align-items-center mb-2 p-fluid">
                <div class="col-3 text-end">
                    <label for="parentesco" class="fw-bold">Parentesco</label>
                </div>
                <div class="col-9 flex-auto">
                    <p-dropdown [(ngModel)]="selectedParentesco" [options]="parentescos" [loading]="isLoadingParentesco"
                        optionLabel="nombre" [filter]="true" filterBy="nombre" [showClear]="true"
                        placeholder="Seleccione el parentesco" />
                </div>
                <div class="col-9 offset-3">
                    <div *ngIf="submitted && !selectedParentesco" class="text-danger">
                        Parentesco es requerido
                    </div>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-3 text-end">
                    <label>¿Cuidador?</label>
                </div>
                <div class="col-9 button-group p-fluid">
                    <button class="btn col-auto rounded-2 text-center me-2 py-1"
                        [ngClass]="{'active': contacto.cuidador}" style="width: 150px;"
                        (click)="contacto.cuidador = true">SÍ</button>
                    <button class="btn col-auto rounded-2 text-center me-2 py-1"
                        [ngClass]="{'active': contacto.cuidador  == false}" style="width: 150px;"
                        (click)="contacto.cuidador = false">NO</button>
                </div>
            </div>

            <div class="row">
                <div class="col-9 offset-3">
                    <small>Presione la tecla <b>Enter</b> o la tecla <b>Coma (,)</b> para agregar un teléfono</small>
                </div>
                <div class="col-3 text-end">
                    <label>Teléfonos</label>
                </div>
                <div class="col-9  p-fluid">
                    <p-chips [(ngModel)]="this.telefonos" separator="," (onAdd)="validarPhone($event)" />
                </div>
                <div class="col-9 offset-3">
                    <div *ngIf="submitted && !this.telefonos.length" class="text-danger">
                        Teléfonos es requerido
                    </div>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-3 text-end">
                    <label>Correo electrónico</label>
                </div>
                <div class="col-9 p-fluid">
                    <input type="email" pInputText [(ngModel)]="contacto.email" />
                </div>
                <div class="col-9 offset-3">
                    <div *ngIf="submitted && contacto.email && !isValidEmail(contacto.email)" class="text-danger">
                        El formato del correo electrónico es inválido
                    </div>
                </div>
            </div>

            <div class="row align-items-center mb-4">
                <div class="col-3 text-end">
                    <label>Estado</label>
                </div>
                <div class="col-9 button-group">
                    <button class="btn col-auto rounded-2 text-center me-2 py-1" [ngClass]="{'active': contacto.estado}"
                        style="width: 150px;" (click)="contacto.estado = true">ACTIVO</button>
                    <button class="btn col-auto rounded-2 text-center me-2 py-1"
                        [ngClass]="{'active': contacto.estado == false}" style="width: 150px;"
                        (click)="contacto.estado = false">INACTIVO</button>
                </div>
            </div>

            <div class="row">
                <div class="col-12 text-center">
                    <button class="btn text-white rounded-4 btn-lg fondo-color-cancelar me-2" type="button"
                        style="width: 200px;" (click)="close()">Cancelar</button>
                    <button class="btn text-white rounded-4 btn-lg fondo-color-principal" type="button"
                        style="width: 200px;" (click)="guardarContacto()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</p-dialog>
