<div class="container">
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" *ngIf="isValid && !isLoading && !isOK">
    <div class="container my-3 p-5"  style="background-color: white; border-radius: 15px; max-width: 800px">
      <h2 class="text-center mb-4" style="font-weight: bold">
        Respuesta a notificación de alerta
      </h2>
      <div class="row align-items-center mb-3">
        <div class="col-4 text-end fw-bold">
          <label for="entidad" class="form-label col4">Entidad*</label>
        </div>
        <div class="col-8 p-fluid">
          <p-dropdown
            formControlName="entidad"
            [(ngModel)]="selectedEntidad"
            [options]="entidades"
            [loading]="isLoadingEntidades"
            optionLabel="nombre"
            [filter]="true"
            filterBy="nombre"
            [showClear]="true"
            placeholder="Seleccione la entidad"
          />
        </div>
        <div class="col-8 offset-4">
          <div *ngIf="submitted && contactForm.get('entidad')?.invalid" class="text-danger">
              Campo requerido
          </div>
        </div>
      </div>
      <div class="row align-items-center mb-3">
        <div class="col-4 text-end fw-bold">
          <label for="nombreFuncionario" class="form-label">Nombre funcionario*</label>
        </div>
        <div class="col-8 p-fluid">
          <input
            type="text"
            pInputText
            maxlength="50"
            formControlName="nombreFuncionario"
            [(ngModel)]="nombreFuncionario"
          />
        </div>
        <div class="col-8 offset-4">
          <div *ngIf="submitted && contactForm.get('nombreFuncionario')?.invalid" class="text-danger">
              Campo requerido
          </div>
        </div>
      </div>
      <div class="row align-items-center mb-3">
        <div class="col-4 text-end fw-bold">
          <label for="cargo" class="form-label">Cargo*</label>
        </div>
        <div class="col-8 p-fluid">
          <input
            type="text"
            pInputText
            maxlength="10"
            formControlName="cargo"
            [(ngModel)]="cargo"
          />
        </div>
        <div class="col-8 offset-4">
          <div *ngIf="submitted && contactForm.get('cargo')?.invalid" class="text-danger">
              Campo requerido
          </div>
        </div>
      </div>
      <div class="row align-items-center mb-3">
        <div class="col-4 text-end fw-bold">
          <label for="correo" class="form-label">Correo electrónico*</label>
        </div>
        <div class="col-8 p-fluid">
          <input
            type="email"
            pInputText
            placeholder="micorreo@gmail.com"
            maxlength="50"
            formControlName="correo"
            [(ngModel)]="correo"
          />
        </div>
        <div class="col-8 offset-4">
          <div *ngIf="submitted && contactForm.get('correo')?.invalid" class="text-danger">
              Campo requerido
          </div>
          <div *ngIf="submitted && contactForm.get('correo')?.errors?.['email']" class="text-danger">
              Debe ingresar un correo válido.
          </div>
        </div>
      </div>
      <div class="row align-items-center mb-3">
        <div class="col-4 text-end fw-bold">
          <label for="telefono" class="form-label">Teléfono de contacto*</label>
        </div>
        <div class="col-8 p-fluid">
          <input
            type="text"
            pInputText
            maxlength="255"
            formControlName="telefono"
            [(ngModel)]="telefono"
          />
        </div>
        <div class="col-8 offset-4">
          <div *ngIf="submitted && contactForm.get('telefono')?.invalid" class="text-danger">
              Campo requerido
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-4 text-end fw-bold">
          <label for="respuesta" class="form-label">Respuesta*</label>
        </div>
        <div class="col-8 p-fluid">
          <textarea
            pInputText
            formControlName="respuesta"
            maxlength="3000"
            rows="3"
            [(ngModel)]="respuesta"
          ></textarea>
        </div>
        <div class="col-8 offset-4">
          <div *ngIf="submitted && contactForm.get('respuesta')?.invalid" class="text-danger">
              Campo requerido
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-4 col-md-4 text-end fw-bold">
          <label for="Adjuntar" class="fw-bold">Adjuntar*</label>
        </div>
        <div class="col-2 col-sm-1 col-md-1">
          <label class="file-upload-icon">
            <i class="bi bi-paperclip" style="font-size: 24px;" (click)="openFileDialog($event)"></i>
          </label>
          <input id="archivo" type="file" (change)="onFileChange($event)" #fileInput style="display: none;" accept=".pdf, .doc, .docx, .xls, .xlsx, .jpg, .jpeg" />
        </div>
        <div class="col-6 col-md-7">
          <label class="fw-bold" style="word-break: break-all;">{{ fileName }}</label>
        </div>
      </div>
      <div class="row">
        <div class="col-8 col-md-8 offset-4">
          <small class="form-text" style="color: #61b9ab;">Solo puede cargar un archivo, asegúrese de incluir toda la información</small>
          <small class="text-danger" *ngIf="fileError" >{{ fileError }}</small>
        </div>
        <div class="col-8 offset-4">
          <div *ngIf="submitted && contactForm.get('archivo')?.invalid" class="text-danger">
              Campo requerido
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn text-white rounded-4 btn-lg" style="background-color: #ff9801; color: white; width: 250px;"><i *ngIf="saving" class="pi pi-spin pi-spinner"></i> ENVIAR RESPUESTA</button>
    </div>
  </form>
  <div *ngIf="isValid == false" class="text-center">
    <h3 class="text-danger fw-bold">El enlace no es válido o esta vencido.</h3>
  </div>
  <div *ngIf="isLoading" class="text-center">
    <p class="text-primary fw-bold">Cargando...</p>
    <p-progressSpinner *ngIf="isLoading" strokeWidth="4" styleClass="w-6rem h-6rem"></p-progressSpinner>
  </div>
  <div *ngIf="isOK" class="text-center">
    <i class="pi mb-3 pi-check-circle" style="font-size: 4rem; color: #4CAF50;"></i>
    <h3 class="text-success fw-bold">Respuesta enviada correctamente.</h3>
    <p class="text-primary fw-bold">Gracias por su colaboración.</p>
  </div>
</div>